body {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
      }
      button {
        color: #fff;
        background-color: #808080;
        font-size: 32px;
        padding: 20px;
        border: none;
        border-radius: 16px;
        cursor: pointer;
      }